CORS=http://localhost:3000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/happystack
PORT=3001
WEB_CONCURRENCY=4
SECRET=2828483jfdng87&&!h48gh48hg48gj49fkJUYUYHU
SESSION_SECRET=28284832472382FJFNHUuhvu8he8f8eew8ni97h3
MAILGUN_API_KEY=key-6b64948810f819700d8c4677afef963d
MAILGUN_DOMAIN=mg.happystack.io
CLOUD_NAME=happystack
API_KEY=148538765895251
API_SECRET=dF50Zft3drQ2TrYuSntITEBRqWY
