{
  "extends": "airbnb",
  "env": {
    "browser": false,
    "node": true,
    "es6": true,
    "mocha": true,
    "jest/globals": true,
  },
  "plugins": ["jest"],
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "no-shadow": ["error", { "allow": ["done", "err", "res", "count"] }],
    "no-unused-vars": ["warn"],
    "func-names": ["error", "never"],
  }
}
